/* Font */
$primary-font-regular: 'MyriadPro-Regular', sans-serif;
$primary-font-light: 'MyriadPro-Light', sans-serif;
$primary-font-semibold: 'MyriadPro-Semibold', sans-serif;
$primary-font-bold: 'MyriadPro-Bold', sans-serif;

$secondary-font-medium : 'Tungsten-Medium', sans-serif;

/* Color List  */
$primary-color: #007CC3;
$warning-color: #DF9926;

$black-color:#000000;
$gray-dark-color:#3F3F3F;
$dark-gray: #3D4551;
$medium-gray: #707070;
$light-gray-color:#DFE1E2;
$light-gray:#A9AEB1;
$gray-dust-color: #333333;
$gray-dust: #666666;
$light-border-color:#B8B8B8;

$violet-light-color: #963596;

$white-color: #FFFFFF;



/* Path */

$assets-path: '../images';